<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h1>Manage Users</h1></div>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>First name</th>
                <th>Last name</th>
                <th></th>
            </tr>
        </table>
    </div>
</div>

</body>
</html>